/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,
menu,nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 16px !important;
}
body {
  font-family: sans-serif;
}
/*Headings & Subheadings*/
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
[class^='heading']{
  font-weight: bold;
}
[class^='subheading'] {
  font-weight: normal;
}
h1{
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 0.5em;
}
h2{
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.5em;
}
h3{
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5em;
}
h4{
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 0.5em;
}
h5{
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.5em;
}
h6{
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-bottom: 0.5em;
}
i {
  font-style: italic;
}
em {
  font-weight: bold;
}
/*Body*/
p,
span,
a {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5em;
}
.caption {
  font-size: 0.75rem;
}
/*Text Utilities*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word--break {
  word-break: break-word;
}
/*Interactions*/
.clickable {
  transition: opacity ease-in-out 0.1s, transform ease-in-out 0.1s;
}
.clickable:active {
  opacity: 0.8;
  transform: scale(0.97);
  transform-origin: center;
}
/* Global Styling */
*,
*::after,
*::before {
  box-sizing: border-box;
}