html{
  font-size: 16px !important;
}

.bottom-drawer{
  box-shadow: 0 0.125rem 0.5rem rgba(50,50,50,.2);
  border-radius: .5rem .5rem 0 0;
  /* height: 100%; */
  background-color: #fff;
  position: fixed;
  bottom: 0;
  max-height: calc(100vh - 4rem - env(safe-area-inset-top));
  overflow: auto;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  animation: drawer-slide-up .3s ease-in-out forwards;
}
.bottom-drawer-backdrop{
  height: 100vh;
  width: 100vw;
  background-color: rgba(50,50,50,.2);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: bottom-drawer-fade-in .3s ease-in-out forwards;
}
.bottom-drawer-header{
  padding: 1rem;
  display: flex;
  align-items: center;
}
.bottom-drawer-header .avatar{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.bottom-drawer-header .avatar img{
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.bottom-drawer-header .copy *{
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.drawer-content{
  padding: 1rem;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
}
.md-tabs{
  display: flex;
  align-items: center;
  box-shadow: 0 .25rem .25rem -.25rem rgba(50,50,50,.2);
  position: relative;
}
.md-tabs .md-tab{
  padding: 0 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  background-color: transparent;
  border: 0;
  flex: auto;
}
.md-tabs .active-indicator{
  width: 50%;
  position: absolute;
  display: block;
  background-color: black;
  left: 0;
  bottom: 0;
  height: .125rem;
}
@keyframes bottom-drawer-fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes drawer-slide-up{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}